:root {
  --color-primary: #161a20;
  --color-secondary: #22262f;
  --color-accent: #008561;
  --color-text-main: #eeeeeee6;
  --color-border: #2a2d35;
  --color-btn-red: #c23030;
  --color-link: #303239;
  --color-quote-box: #3B1C32;
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-primary);
  padding: 1.2rem;
}

button {
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

nav {
  background-color: var(--color-secondary);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.3rem;
}
nav h1 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-text-main);
}
nav button {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color-text-main);
  color: var(--color-primary);
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  transition: 0.3s;
}
nav button:active {
  transform: scale(0.95);
}

.weather-widget {
  background-color: var(--color-secondary);
  margin-top: 1.5rem;
  border-radius: 15px;
  background-image: url(./assets/images/nature-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 2.3rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.weather-widget * {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1215686275);
}
.weather-widget .left-part .date,
.weather-widget .left-part .state {
  font-size: 1.6rem;
}
.weather-widget .left-part .current-time {
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing: -2.4px;
  line-height: 1.2;
}
.weather-widget .left-part .state {
  margin-top: 2.5rem;
}
.weather-widget .right-part .temperature {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}
.weather-widget .right-part .weather-status {
  font-size: 1.7rem;
}
.weather-widget .right-part .more-weather-details {
  margin-top: 2.2rem;
}

.features-widget {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1.7rem;
}
.features-widget .feature {
  cursor: pointer;
  background-color: var(--color-secondary);
  border-radius: 12px;
  padding: 1.7rem 2.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  transition: 0.3s;
}
.features-widget .feature:active {
  transform: scale(0.96);
}
.features-widget .feature .img-bg {
  background-color: var(--color-primary);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding: 1.5rem;
  pointer-events: none;
}
.features-widget .feature img {
  height: 100%;
  pointer-events: none;
}
.features-widget .feature p {
  font-size: 1.4rem;
  color: var(--color-text-main);
  opacity: 0.9;
  pointer-events: none;
}
.features-widget .feature:nth-child(2) .img-bg, .features-widget .feature:nth-child(3) .img-bg {
  padding: 2rem;
}

.full-window .window {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  display: none;
  z-index: 99;
}
.full-window .window .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.full-window .window .header .window-title {
  font-size: 1.6rem;
  color: var(--color-text-main);
  opacity: 0.9;
}
.full-window .window .header .window-close-btn {
  font-size: 1.1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  background-color: rgb(194, 48, 48);
  color: rgba(255, 255, 255, 0.8588235294);
  transition: 0.2s;
}
.full-window .window .header .window-close-btn:hover {
  background-color: rgb(171, 33, 33);
}
.full-window .window .header .window-close-btn:active {
  transform: scale(0.94);
}

.window.todo-list-window .todo-list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.window.todo-list-window .todo-list-container .left-part {
  width: 35%;
  background-color: var(--color-secondary);
  padding: 1.4rem;
  border-radius: 15px;
  font-size: 1rem;
  border: 2px solid var(--color-border);
  min-height: 28rem;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.window.todo-list-window .todo-list-container .left-part .todo-list-header {
  font-size: 1.4rem;
  color: var(--color-text-main);
  margin-bottom: 1.5rem;
}
.window.todo-list-window .todo-list-container .left-part input,
.window.todo-list-window .todo-list-container .left-part select {
  border: none;
  border-radius: 12px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-border);
  color: var(--color-text-main);
  opacity: 0.8;
}
.window.todo-list-window .todo-list-container .left-part input[type=text] {
  font-size: 1rem;
  width: 100%;
  padding: 0.9rem 1rem;
  margin-bottom: 1rem;
}
.window.todo-list-window .todo-list-container .left-part .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.window.todo-list-window .todo-list-container .left-part input[type=datetime-local],
.window.todo-list-window .todo-list-container .left-part select {
  font-size: 0.9rem;
  padding: 0.9rem 1rem;
  color-scheme: light;
}
.window.todo-list-window .todo-list-container .left-part input[type=datetime-local]::-webkit-calendar-picker-indicator,
.window.todo-list-window .todo-list-container .left-part select::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
.window.todo-list-window .todo-list-container .left-part select {
  width: 100%;
  padding: 1rem 0.8rem;
  cursor: pointer;
  padding-right: 2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.window.todo-list-window .todo-list-container .left-part .mark-imp-checkbox {
  margin-top: 3.5rem;
  margin-left: 0.18rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  color: var(--color-text-main);
  font-size: 1.05rem;
  opacity: 0.85;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.window.todo-list-window .todo-list-container .left-part .mark-imp-checkbox input {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--color-text-main);
}
.window.todo-list-window .todo-list-container .left-part .add-todo-btn, .window.todo-list-window .todo-list-container .left-part .edit-todo-btn {
  font-size: 1.1rem;
  background-color: var(--color-accent);
  color: var(--color-text-main);
  padding: 0.55rem 1.2rem;
  border-radius: 8px;
  margin-top: 2.2rem;
  transition: 0.2s;
  filter: brightness(1.1);
}
.window.todo-list-window .todo-list-container .left-part .add-todo-btn:hover, .window.todo-list-window .todo-list-container .left-part .edit-todo-btn:hover {
  filter: brightness(0.9);
}
.window.todo-list-window .todo-list-container .left-part .add-todo-btn:active, .window.todo-list-window .todo-list-container .left-part .edit-todo-btn:active {
  transform: scale(0.95);
}
.window.todo-list-window .todo-list-container .left-part .add-todo-btn:disabled, .window.todo-list-window .todo-list-container .left-part .edit-todo-btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.window.todo-list-window .todo-list-container .left-part .edit-todo-btn {
  background-color: var(--color-link);
  filter: brightness(1.5);
  margin-left: 0.5rem;
  display: none;
}
.window.todo-list-window .todo-list-container .right-part {
  width: 65%;
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid var(--color-border);
  overflow-y: auto;
  max-height: 35rem;
}
.window.todo-list-window .todo-list-container .right-part .todo-checked .todo-details label {
  opacity: 0.65;
}
.window.todo-list-window .todo-list-container .right-part .todo-checked .todo-details label span {
  text-decoration: line-through;
}
.window.todo-list-window .todo-list-container .right-part button:disabled {
  cursor: not-allowed;
  opacity: 0.45;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items {
  list-style-type: none;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items .todo-empty-msg {
  font-size: 1.2rem;
  opacity: 0.4;
  text-align: center;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 1.5rem 1rem;
  border-radius: 13px;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li {
  background-color: var(--color-primary);
  border: 2px solid var(--color-border);
  padding: 1.1rem 1rem;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
  font-size: 1rem;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-details {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-details input[type=checkbox] {
  width: 1.3rem;
  height: 1.3rem;
  accent-color: var(--color-accent);
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-details label {
  color: var(--color-text-main);
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-details label .imp-text {
  color: var(--color-text-main);
  background-color: var(--color-btn-red);
  font-size: 0.6rem;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-category {
  font-size: 0.9rem;
  color: var(--color-text-main);
  background-color: var(--color-border);
  padding: 0.4rem 1rem;
  border-radius: 25px;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns button,
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns a {
  font-size: 1rem;
  color: var(--color-text-main);
  background-color: #397836;
  padding: 0.35rem 1rem;
  border-radius: 6px;
  transition: 0.2s;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns button:hover,
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns a:hover {
  filter: brightness(0.8);
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns button:active,
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns a:active {
  transform: scale(0.95);
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns a {
  padding: 0.24rem 0.8rem;
  background-color: var(--color-link);
  text-decoration: none;
  font-size: 1.2rem;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns button.delete-btn {
  background-color: var(--color-btn-red);
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns button.delete-btn i {
  pointer-events: none;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .upper .todo-btns button.edit-btn i {
  pointer-events: none;
}
.window.todo-list-window .todo-list-container .right-part .todo-list-items li .lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-main);
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.window.motivational-quote-window {
  display: block;
}
.window.motivational-quote-window .motivational-quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.window.motivational-quote-window .motivational-quote-container .motivational-quote-box {
  min-width: 33rem;
  max-width: 40rem;
  border-radius: 15px;
  background-color: var(--color-quote-box);
  box-shadow: 0px 0px 110px 40px var(--color-quote-box);
  border: 2px solid rgba(255, 255, 255, 0.1176470588);
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.window.motivational-quote-window .motivational-quote-container .motivational-quote-box h2 {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.5019607843);
  color: var(--color-quote-box);
  padding: 0.2rem 0.8rem;
  border-radius: 6px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.8rem;
}
.window.motivational-quote-window .motivational-quote-container .motivational-quote-box .quote, .window.motivational-quote-window .motivational-quote-container .motivational-quote-box .author {
  font-size: 1.25rem;
  opacity: 0.7;
  font-style: italic;
}
.window.motivational-quote-window .motivational-quote-container .motivational-quote-box .author {
  font-style: normal;
  text-align: right;
}/*# sourceMappingURL=style.css.map */